@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i')
@import url(http://allfont.ru/allfont.css?fonts=freestyle-script-normal)

body
	font-family: 'Open Sans', sans-serif
	font-size: 20px
	font-style: normal
	font-variant: normal
	font-weight: 400
	line-height: 20px
	padding: 0px
	margin: 0px 
	
.clearfix
	&:after
		content: ""
		display: table
		clear: both

.wrapper
	max-width: 1170px
	margin: 0 auto
#header.default
	position: fixed
	text-align: center
	background-color: #FFF
	height: 100px
	width: 100%  
#header

	z-index: 99999  
	text-align: center  
	height: 100px
	overflow: hidden 
		
	img
		display: inline-block 
		max-width: 100%
		height: auto 
		padding-top: 16px
		
	.navleft
		margin-left: 124px 
		font-size: 13px 
		font-weight: 900  
		text-align: right 
		float: left
		height: 100px
		padding-top: 43px 
		a
			color: #666666
			text-decoration: none 
			position: relative  
			&:hover
				color: #6666cc
				text-decoration: none
				&:after
					margin-left: 25%  
					color: green
					display: block
					width: 50%
					height: 1px
					background-color: #6666cc
					content: ''
					position: absolute
		ul 
			float: left 
			-webkit-margin-before: 0px
			-webkit-margin-after: 0px
			-webkit-margin-start: 0px
			-webkit-margin-end: 0px
			-webkit-padding-start: 0px
		li
			display: inline-block
			margin-left: 30px
	.navright
		font-size: 13px 
		font-weight: 900  
		text-align: right 
		padding-right: 190px 
		float: right 
		padding-top: 43px  
		
		a

			color: #666666
			text-decoration: none 
			position: relative  
			&:hover
				color: #6666cc
				text-decoration: none
				&:after
					margin-left: 25%  
					color: green
					display: block
					width: 50%
					height: 1px
					background-color: #6666cc
					content: ''
					position: absolute
  					
  					

				  
		ul 
			float: left 
			-webkit-margin-before: 0px
			-webkit-margin-after: 0px
			-webkit-margin-start: 0px
			-webkit-margin-end: 0px
			-webkit-padding-start: 0px
		li
			display: inline-block
			margin-right: 30px

.firstscreen
	background-image: url(../img/bg.png)
	background-repeat: no-repeat
	background-position: top
	
	margin: 0 
	overflow: hidden
	.form
		text-align: left
		height: 391px
		width: 300px
		background-color: #FFF
		-webkit-border-radius: 20px 
		 border-radius: 20px  
		margin: 0
		padding-top: 40px 
		box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);
		  
		 
	
	.leftside
		max-width: 22% 
		position: relative 
		float: left
		padding-left: 240px 
		padding-top: 100px
		margin-right: 90px
		margin-bottom: 110px    
		
	.rightside
		float: right
		max-width: 50%	  
		padding-top: 175px 
		margin-right: 60px  
	h2
		font-family: 'Open Sans Bold', sans-serif
		font-size: 48px 
		line-height: 60px
		-webkit-margin-before: 0px;
		-webkit-margin-after: 0px;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		font-weight: bold; 
		color: #FFF 

	p
		font-family: 'Freestyle Script Regular', sans-serif
		font-size: 40px 
		line-height: 40px
		color: #FFF 
	h3
		font-family: 'Open Sans Semibold', sans-serif
		font-size: 25px
		color: #6666cc
		margin-left: 35px 
		margin-bottom: 30px 
	#applicationName, #applicationTelephone
		margin-left: 30px 
		padding-left: 10px
		margin-bottom: 17px   
		width: 230px
		height: 50px
		border: 0px
		-webkit-border-radius: 6px 
		 border-radius: 6px  
		background-color: #f2f2f2
		font-family: 'Open Sans', sans-serif
		font-size: 14px
		color: #9D9D9D
		&::placeholder
			color: #9D9D9D
		&:focus
			outline: none
			border: 0px solid 
	
	.selectform  
		padding-left: 10px 
		margin-left: 30px   
		width: 220px
		height: 50px
		border: 0px
		-webkit-border-radius: 6px 
		 border-radius: 6px 
		padding-right: 10px
		position: relative 
		background-color: #f2f2f2
		
		
		&:after
			content: ""
			border-style: solid
			border-width: 5px 5px 0 5px
			border-color: #636363 transparent transparent transparent
			position: absolute 
			top: 50%
			right: 10px 
			margin-top: -2px  
		select
		
			-webkit-appearance: none 
			  -moz-appearance: none 
			  appearance: none 
			 
			width: 100%
			height: 50px
			border: 0px
			-webkit-border-radius: 6px 
			 border-radius: 6px
			background-color: #f2f2f2
			color: #9D9D9D
			font-family: 'Open Sans', sans-serif
			font-size: 14px
			outline: none
			&:focus
				outline: none
				border: 0px solid
	button
		float: right
		margin-right: 35px 
		width: 170px
		height: 50px
		border: 0  
		background-color: #5b6ceb
		-webkit-border-radius: 6px 
		 border-radius: 6px  
		font-family: 'Open Sans Bold', sans-serif
		font-size: 16px
		color: #FFF
		&:hover
			background-color: #475bf1
.program
	padding-top: 125px
	background-color: #FFF
	text-align: center 
	height: 100% 
	padding-bottom: 75px 
	h2
		color: #5b6ceb
		font-family: 'Open Sans Bold', sans-serif
		font-size: 30px
		-webkit-margin-before: 0px
		-webkit-margin-after: 25px
		-webkit-margin-start: 0px
		-webkit-margin-end: 0px

	h3
		color: #777777  
		font-family: 'Freestyle Script Regular', sans-serif
		font-size: 40px
		-webkit-margin-before: 0px
		-webkit-margin-after: 75px
		-webkit-margin-start: 0px
		-webkit-margin-end: 0px
		font-weight: normal
	.container
		padding-bottom:  25px
		display: flex 
		-webkit-justify-content: space-between 
		 justify-content: space-between  
		width: 100% 
		
		//.boxone, .boxthree
		//	margin-right: 30px 
		.boxone, .boxtwo, .boxthree, .boxfour
			max-width: 570px
			display: flex
			max-height: 300px 
			
			img
				width: 270px
				max-height: 300px 
			.textarea
				padding-left: 30px 
				padding-top: 50px
				background-color: #fff  
				
				h2
					font-family: 'Open Sans Bold', sans-serif
					font-size: 20px
					-webkit-margin-before: 0px
					-webkit-margin-after: 36px
					-webkit-margin-start: 0px
					-webkit-margin-end: 0px
					color: #777777
				p
					font-family: 'Open Sans', sans-serif
					font-size: 14px
					-webkit-margin-before: 0px
					-webkit-margin-after: 0px
					-webkit-margin-start: 0px
					-webkit-margin-end: 0px
					color: #C2C2C2 
				span
					color: #606060
					
					-webkit-margin-before: 0px
					-webkit-margin-after: 180px
					-webkit-margin-start: 0px
					-webkit-margin-end: 0px
.gallery
	position: relative
	height: 670px 
	*
		box-sizing: border-box
	label[for]
		cursor: pointer
	

	input[type="checkbox"]
		display: none
	

	.lightbox, .grid 
		width: 100%
		position: absolute
		top: 0
		left: 0

	.lightbox 
		z-index: 1
		min-height: 100%
		overflow: hidden
		-webkit-transform: scale(0)
		  -ms-transform: scale(0)
		  transform: scale(0)
		-webkit-transition: -webkit-transform .5s ease-out
		  transition: transform .5s ease-out
	
	.lightbox img 
		position: fixed
		top: 50%
		left: 50%
		max-width: 100%
		max-height: 100%
		-webkit-transform: translate(-50%, -50%)
		  -ms-transform: translate(-50%, -50%)
			  transform: translate(-50%, -50%)
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25)
	
	input[type="checkbox"]:checked + .lightbox 
		-webkit-transform: scale(1)
		  -ms-transform: scale(1)
			  transform: scale(1)
	
	input[type="checkbox"]:checked ~ .grid 
		opacity: .125
	

	.grid 
		display: flex
		flex-wrap: wrap  
		align-items: flex-start
		 align-content: flex-start  
		z-index: 0
		overflow: hidden
		background-color: #222
		text-align: center
		transition: opacity .75s

		.grid-item 
			overflow: hidden 
			display: inline-block
			width: 25%
			height: 230px 
			opacity: 1
			-webkit-transition: opacity .5s, 
			  transition: opacity .5s
	
		.grid-item
			position: relative
			&:hover
				opacity: .75
				&:before
					opacity: .5
					height: 100% 
					background-color: #7b89ee
					background-image: url(../img/lupa.png)
					background-repeat: no-repeat
					background-position: center
					content: ''
					color: green
					display: block
					position: absolute   
				
	
	@media screen and (max-width: 1024px) 
		.grid .grid-item 
			width: 50%
	  
	
	@media screen and (max-width: 480px) 
		.grid .grid-item 
			width: 100%
	  
	
	.grid img 
		width: 100%
		height: 100%
		object-fit: cover 
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25)
.aboutus
	height: 550px
	display: flex
	.textarea
		padding-top: 150px 
		width: 45%
	h2
		font-family: 'Open Sans Bold', sans-serif
		font-size: 30px
		-webkit-margin-before: 0px
		-webkit-margin-after: 36px
		-webkit-margin-start: 0px
		-webkit-margin-end: 0px
		color: #5b6ceb
	p
		font-family: 'Open Sans Regular', sans-serif
		font-size: 14px
		-webkit-margin-before: 0px
		-webkit-margin-after: 0px
		-webkit-margin-start: 0px
		-webkit-margin-end: 0px
		color: #777777